@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Highlight event days */
.react-calendar__tile.highlight {
  background-color: #71c135; /* Light red background */
  color: black; /* Text color */
  border-radius: 5%; /* Optional: Make it circular */
  font-weight: bold;
}

/* Add a hover effect */
.react-calendar__tile.highlight:hover {
  background-color: #ff9999; /* Slightly darker red */
}
